<mat-table [dataSource]="dataSource" *ngIf="dataSource.length>0">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.flightpathId}} </td>
  </ng-container>
  <ng-container matColumnDef="flight">
    <th mat-header-cell *matHeaderCellDef> FlightID </th>
    <td mat-cell *matCellDef="let element"> {{element.flight}} </td>
  </ng-container>
  <ng-container matColumnDef="recordedTime">
    <th mat-header-cell *matHeaderCellDef> recordedTime </th>
    <td mat-cell *matCellDef="let element"> {{element.recordedTime}} </td>
  </ng-container>
  <ng-container matColumnDef="altitude">
    <th mat-header-cell *matHeaderCellDef> altitude </th>
    <td mat-cell *matCellDef="let element"> {{element.altitude}} </td>
  </ng-container>
  <ng-container matColumnDef="latitude">
    <th mat-header-cell *matHeaderCellDef> latitude </th>
    <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
  </ng-container>
  <ng-container matColumnDef="longitude">
    <th mat-header-cell *matHeaderCellDef> longitude </th>
    <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
  </ng-container>
  <ng-container matColumnDef="speed">
    <th mat-header-cell *matHeaderCellDef> speed </th>
    <td mat-cell *matCellDef="let element"> {{element.speed}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
      <button mat-raised-button color="warn" (click)="deleteFlightPath(element.flightpathId)">Delete</button>
      <button mat-raised-button color="accent" (click)="openDialogToUpdate(element)">Update</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
<button mat-raised-button color="primary" (click)="openDialogToAdd()">Add</button>
<button mat-raised-button color="primary" (click)="showAvgAltitude()">Get Average Altitude</button>
<div>{{avgAltitude}}</div>